@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0;
    height: 100vh;
    font-family: 'Poppins';
    position: relative;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body {
    background: linear-gradient(135deg, #8D07C8 0%, #260F77  50%, #030B3A 100%);
    display: flex;
    align-content: center;
}

.hero {
    color: white;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    align-items: center;
}

.hero div {
    flex: 0 0 48%;
}

.canvas {
    position: relative;
    height: inherit;
    width: inherit;
}

.left-cont {
  position: absolute;
  top:1rem;
  left: 2rem;
  display: flex;
  align-content: center;
  gap: 1rem;
}

.find {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;
}

.reset {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  cursor: pointer;
}

.content {
    padding: 0px 2rem;
    position: relative;
}

.content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.content p {
    color: silver;
}

.demo-btn {
    margin-top: 20px;
    border: 0px;
    outline: 0px;
    padding: 1rem 1.5rem;
    border-radius: 18px;
    background: #088808;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.demo-btn:hover {
    background: green;
    transition: all 0.2s ease-in;

}

.place-container {
    position: absolute;
    left: 50%;
    top: -.25rem;
    padding: 6px 10px;
    transform-origin: bottom center;
    background: #222;
    color: white;
    width: max-content;
    max-width: 200px;
    transform: scale(0);
    transition: 0.1s all ease-in;
}

.small {
    font-size: 12px;
    color: #ddd;
    margin: 2px 0px;
}


@media screen and (max-width: 992px) {
  body {
    display: block;
  }

  .hero {
    display: block;
    height: auto;
    width: auto;
  }

  .topbar {
    display: block;
    margin-bottom: 3rem;

  }

  .topbar div {
    position: relative;
  }

  .left-cont {
    left: 10px;
    top: 1rem;
  }

  .toggle-switch {
    left: 10px;
    margin-top: 1rem;
  }

  .content {
    width: 75%;
  }
  .canvas {
    height: 100vh;
  }
 
}





.toggle-switch {
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 99;
}

.toggle {
    display: none;
  }
  .toggle, .toggle:after, .toggle:before, .toggle *, .toggle *:after, .toggle *:before, .toggle + .toggle-btn {
    box-sizing: border-box;
  }
  .toggle::-moz-selection, .toggle:after::-moz-selection, .toggle:before::-moz-selection, .toggle *::-moz-selection, .toggle *:after::-moz-selection, .toggle *:before::-moz-selection, .toggle + .toggle-btn::-moz-selection {
    background: none;
  }
  .toggle::selection, .toggle:after::selection, .toggle:before::selection, .toggle *::selection, .toggle *:after::selection, .toggle *:before::selection, .toggle + .toggle-btn::selection {
    background: none;
  }
  .toggle + .toggle-btn {
    outline: 0;
    display: block;
    width: 3em;
    height: 1.5em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .toggle + .toggle-btn:after, .toggle + .toggle-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  .toggle + .toggle-btn:after {
    left: 0;
  }
  .toggle + .toggle-btn:before {
    display: none;
  }
  .toggle:checked + .toggle-btn:after {
    left: 50%;
  }
  
  .toggle-menu + .toggle-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    border: 1px solid #fbfbfb;
  }
  .toggle-menu + .toggle-btn:after {
    border-radius: 2em;
    background: #fbfbfb;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
  }
  .toggle-menu + .toggle-btn:hover:after {
    will-change: padding;
  }
  .toggle-menu + .toggle-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9;
  }
  .toggle-menu + .toggle-btn:active:after {
    padding-right: 0.8em;
  }
  .toggle-menu:checked + .toggle-btn {
    background: #222;
  }
  .toggle-menu:checked + .toggle-btn:active {
    box-shadow: none;
  }
  .toggle-menu:checked + .toggle-btn:active:after {
    margin-left: -0.8em;
  }
  